@import "./config.scss";

// Vue Transition
.fade-in-fast-enter-from,
.fade-in-fast-leave-to {
    opacity: 0;
}

.fade-in-fast-enter-active,
.fade-in-fast-leave-active {
    transition: all $transition-time--short ease-out;
}

.fade-in-enter-from,
.fade-in-leave-to {
    opacity: 0;
}

.fade-in-enter-active,
.fade-in-leave-active {
    transition: all $transition-time ease-out;
}